version: '3.1'

services:
  redis:
    image: redis
    container_name: redis-hermes
    ports:
      - 6379:6379
  db:
    image: postgres:15.2
    command: postgres -c 'max_connections=200'
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hermes
    ports:
      - 5432:5432