.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem 7rem 2rem;
  max-width: 500px;
  margin: 15rem auto;
  background-color: var(--dark);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login h1 {
  padding-bottom: 2rem;
}
.login form {
  display: flex;
  flex-direction: column;
  width: 100%;
}