.container {
  display: flex;
  text-align: left;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.container input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--lblue);
  border-radius: 3px;
  margin-bottom: 20px;
}

.errorMessage {
  color: #ff0000;
  font-size: 0.8rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--lblue);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--red);
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}